.title-web {
    background: linear-gradient(99.32deg, #9fbd78 7.91%, #427a5b 88.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
